* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* helpers */
.flex {display: flex;}
.jc-sb {justify-content: space-between;}
.jc-f-e {justify-content: flex-end;}
.a-i-c {align-items: center;}
.wrap {flex-wrap: wrap;}
.bg-black-d {background-color: #000000;}
.bg-black-l {background-color: #222;}
.bg-gray {background-color: #4a4a4a;}
.txt-white {color: #fffcfa}
.txt-green {color: #4bc900;}
.txt-red {color: red}
.pos-abs {position: absolute;}
.pos-rel {position: relative;}

/* header */
.navbar {
    height: 2rem;
}

.navbar button {
    padding: 0 12px;
    border-radius: 8px;
}
.navbar button:first-child img {
    height: 14px;
    background-color: white;
}

/* main  */
.main-container {
    padding: 20px;
    width: 100%;
}

main .box {
    width: calc(100% / 7 - 10px);
    margin-top: 10px;
}

main .box img {
    display: block;
    width: 100%;
}

main .box span {
    bottom: 0;
    padding: 8px;
    font-size: 14px;
}

i {
    padding-right: 4px;
}

/* footer */
.footerbar {
    height: 100px;
}